php_value display_errors 1
RewriteEngine on
ErrorDocument 404 http://localhost/Trackime/vista/404.php  
ErrorDocument 500 http://localhost/Trackime/vista/404.php  
ErrorDocument 403 http://localhost/Trackime/vista/404.php  
ErrorDocument 400 http://localhost/Trackime/vista/404.php  
ErrorDocument 401 http://localhost/Trackime/vista/404.php
