php_value display_errors 1
RewriteEngine on
ErrorDocument 404 http://localhost/Trackime/vista/404  
ErrorDocument 500 http://localhost/Trackime/vista/404  
ErrorDocument 403 http://localhost/Trackime/vista/404  
ErrorDocument 400 http://localhost/Trackime/vista/404  
ErrorDocument 401 http://localhost/Trackime/vista/404 

<IfModule mod_rewrite.c>
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php  
RewriteRule ^hola/(.*) vista/$1
</IfModule>
